* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  section {
    border: 1px solid #00ee;
    border-radius: 37px;
    padding: 2rem;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
    .calc-display{
      border: 1px solid #00ee;
      width: 320px;
      height: 60px;
      padding: 16px 32px;
      text-align: right;
      border-radius: 30px;
    }
    .keys {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.8rem;
      margin-top: 20px;
    }
    input{
      width: 60px;
      height: 60px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
        background-color: white;
        border: 1px solid #00ee;
  
    }
    .op-key {
      color: red;
    }
  }
  p {
    margin-bottom: 80px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 80px;
    color: #494b4d;
  }

  footer {
    p {
      margin-top: 50px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      font-size: 20px;
      color: #494b4d;
    }
  }
}
